.headertext{
  width:95%;
  font-size:22px;
  padding-left:5vw;
  border-radius:10px;
  border:1.9px solid rgba(103, 117, 113,0.45) ;
  margin-bottom:1%;
  font-family:sans-serif;
  background-color:rgba(3, 199, 143,0.25);
  background-size:none;
  height:center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display:inline-block;
}

.electronicspage {
width: 97%;
color: black;
font-size: 220%;
font-weight: bold;
padding: 1.5vw;
border-radius: 10px;
border: 1.9px solid rgba(103, 117, 113, 0.45);
font-family: sans-serif;
background-color: rgba(3, 199, 143, 0.25);
text-align: center;
align-items: center;
height: center;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.buttontext{
font-size:large;
width:23vw;
padding:0 7vw;
background-color:rgba(20, 211, 169, 0.39);
color:black;
height:10vh;
border:0.85px solid rgba(103, 117, 113,0.45);
border-radius:10px;
font-weight:bold;
transition: background-color 0.3s ease;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mobiles,
.computers,
.televisions {
  width: 32%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  padding: 1vw;
  margin: 1vw 0.5vw;
  color: black;
  font-size: 0px;
  font-weight: bold;
  border-radius: 10px;
  border: 1.9px solid rgba(103, 117, 113, 0.45);
  font-family: sans-serif;
  display: inline-block;
  background-color: rgba(3, 199, 143, 0.25);
  text-align: center;
  height: 50vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  cursor: pointer;
  background-size: cover;
}

.mobiles{
  background-image: url("mobileslogo.jpg"); 
  background-size:cover;
}

.computers{
  background-image: url("computerslogo.jpg"); 
  background-size:cover;
}

.televisions{
  background-image: url("televisionslogo.jpg"); 
  background-size:cover;
}

.mobiles:hover,.computers:hover,.televisions:hover {
  font-size: 3vw;
  opacity: 0.7; 
  transition: opacity 0.4s ease-in-out; 
  color: white; 
  background-color:black;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}

.hidden {
  display: none;
}

table {
margin-top: 2vh;
width: 99%; 
margin:1vh 1vw;
border-radius: 10px;
}

td, th {
border: 1px solid rgba(0, 0, 0, 0.2); 
padding: 8px; 
border-radius:10px;  
line-height:3vh;
}

.tdstyle{
  width: 30%;
  height:60vh;
  background-size: 100% 60%;
  background-size:cover;
}

td:nth-child(2)
{
width: 70%;
height:60vh;
}

.discountedprice{
text-decoration: line-through;
font-size: large;
}
.sellingprice{
font-weight: bold;
font-size: x-large;
}
.star {
  font-size: 24px;
  color:rgba(3, 199, 143, 0.70);
}

@media only screen and (max-width: 1024px) {
  .headertext {
    font-size: 20px;
    padding-left: 3vw;
  }
  .electronicspage {
    font-size: 200%;
    padding: 1vw;
  }
  .buttontext {
    font-size: medium;
    width: 30vw;
    padding: 0 5vw;
  }
  .mobiles, .computers, .televisions {
    width: 32%;
    height: 50vh;
    font-size: 2vw;
    color:white;
  }

  td:nth-child(1){
    width:50%;
    background-position-x: center;
  }

  td:nth-child(2){
    width:50%;
  }
}

@media only screen and (max-width: 768px) {
  .headertext {
    font-size: 14px;
    padding-left: 2vw;
    width:99%;
  }
  .electronicspage {
    font-size: 150%;
    padding: 1vw;
    width:99%;
  }
  .buttontext {
    font-size: small;
    width: 40vw;
    padding: 0 4vw;
  }
  .mobiles, .computers, .televisions {
    width: 99%;
    height: 60vh;
    margin: 2vw auto;
    font-size: 8vw;
    color: white;
    background-size:fill;
    background-repeat: no-repeat;
  }

  table {
    width: 95%;
    margin: 2vh 2.5vw;
  }
  td, th {
    font-size: small;
    padding: 6px;
  }

  td:nth-child(1) {
    width: 50%;
    height: 50vh;
  }

  td:nth-child(2) {
    width: 50%;
    height: 50vh;
  }
}

@media only screen and (max-width: 450px) {
  .headertext {
    font-size: 6px;
    padding-left: 2vw;
    width:99%;
  }
  .electronicspage {
    font-size: 70%;
    padding: 1vw;
    width:99%;
  }
  .buttontext {
    font-size: small;
    width: 40vw;
    padding: 0 4vw;
    height:5vh;
  }
  .mobiles, .computers, .televisions {
    width: 99%;
    height: 35vh;
    margin: 2vw auto;
    font-size: 8vw;
    color:white;
    background-size:fill;
    background-repeat: no-repeat;
  }

  table {
    width: 95%;
    margin: 2vh 2.5vw;
  }

  td, th {
    font-size: small;
    padding: 6px;
    display: block;
  }
  .tdstyle{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  td:nth-child(1){
    width:95%;
    height:50vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-position-x:center ;
  }

  td:nth-child(2) {
    width: 95%;
    height: 40vh;
    font-size:7px;
    line-height:10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top:-1px;
  }
  
  .discountedprice
  {
    text-decoration: line-through;
    font-size: medium;
  }
  
  .sellingprice{
    font-weight: bold;
    font-size: medium;
  }
  
  .star {
    font-size: 14px;
    color: rgba(3, 199, 143, 0.70);
  }
}