.headertext{
    width:95%;
    font-size:22px;
    padding-left:5vw;
    border-radius:10px;
    border:1.9px solid rgba(103, 117, 113,0.45) ;
    margin:0;
    font-family:sans-serif;
    background-color:rgba(3, 199, 143,0.25);
    background-size:none;
    height:center;
    display:inline-block;
  }
  
  .search{
    margin:1vh 5vw;
    padding-left:35vw;
    height:7.5vh;
    margin-right:5vw;
    border:1.9px solid rgba(80, 192, 160, 0.45);
    border-radius:10px;
  }
  
  .login{
    font-size:20px;
    width:max-content;
    margin-left:1vw;
    margin-right:1vw;
    margin-top:1vh;
    height:7.5vh;
    padding-left:1%;
    padding-right:1%;
    text-align:center;
    border:3px solid white;
    border-radius:20px;
    background-color:rgba(10, 16, 15, 0.868);
    color:white;
    font-weight:bold;
  }
  
  .fashion,
  .electronics,
  .furniture,
  .groceries{
    font-size:large;
    width:auto;
    padding:0 5.5vw;
    background-color:rgba(3, 199, 143,0.25);
    color:black;
    height:10vh;
    border:0.85px solid rgba(103, 117, 113,0.45);
    border-radius:10px;
    font-weight:bold;  
  }
  
  .container1 {
    width:95%;
    height:10%;
    justify-content: center;
    display: flex;
    margin:-1% 2%;
    z-index:1;

  }

  .container2{
    margin:0% 1%;
    padding: 1% 0;
    border-radius:20px;
    width:98%;
    height:20%;
    background-image:url(black-friday-elements-assortment.jpg);
    background-size:100% 100%;
    display:flex;
  }

  .covertext{
    color:black;
    font-size:3vw;
    font-weight:bold;
    font-family:sans-serif;
    margin-left:20%;
    margin-right:50%;
    margin-top:20%;
    margin-bottom:40%;
    justify-content: center;
    display: inline-block;
    }

    .footer{
        width:98%;
        height:center;
        border-radius:10px;
        margin:1vh 1vw;
        font-family:sans-serif;
        background-color:black;
        display:flex;
        flex-direction: row;
        flex-grow: 7%;
      
    }

    .help,
    .about,
    .connect{
        width:30%;
        color:antiquewhite;
        font-size:16px;
        line-height:0px;
        margin-top:10px;
        top:30px;
        bottom:20px;
        flex-grow: 3%;
        margin-left:4vw;
    }   

@media only screen and (max-width: 450px) {
  .footer{
        width:98%;
        height:center;
        border-radius:10px;
        margin:1vh 1vw;
        font-family:sans-serif;
        background-color:black;
        display:flex;
        flex-direction: column;
        flex-grow: 7%;
    }
  	.help,
    .about,
    .connect{
        width:100%;
        color:antiquewhite;
      	text-align:left;
        font-size:16px;
        line-height:0px;
        margin-top:10px;
        top:30px;
        bottom:20px;
        flex-grow: 3%;
        margin-left:4vw;
    }   
}
